//@import "../../../node_modules/jquery-ui/themes/base/all.css";

.settings_page_diym-options {
    //
    [for^="diym_hours"],
    [for^="diym_map"] {
        min-width: 10em;
        vertical-align: baseline;
    }

    .small-text[name^="diym_hours"] {
        width: 65px;
    }

    .small-text[name^="diym_hours"],
    .medium-text[name^="diym_map"] {
        margin: 0 0 1em;
        //padding-right: 0;
    }
}
