//@import "../../../node_modules/jquery-ui/themes/base/all.css";

.settings_page_diym-options {
    //
    [for*="[hours]"] {
        min-width: 10em;
        vertical-align: baseline;
    }
    //
    .small-text[name*="[hours]"] {
        margin: 0 0 1em;
        width: 70px;
        padding-right: 0;
    }
}
