/* ==========================================================================
   Image Radio Buttons
   ========================================================================== */
/*
.image_radio_button_control > label > input {
    display: none;
}
*/
/*
.image_radio_button_control .radio-button-label > img {
    cursor: pointer;
    border: 3px solid #ddd;
}

.image_radio_button_control .radio-button-label > input:checked + img {
    border: 3px solid #2885bb;
}
*/

/*
.customize-control-image_radio {
    background-color: green;
}
*/

.customize-control-image_radio > label > input {
    display: none;
}

.customize-control-image_radio > label > img {
    cursor: pointer;
    border: 3px solid #ddd;
    //border: 3px solid red;
}

.customize-control-image_radio > label > input:checked + img {
    border: 3px solid #2885bb;
}
