/*
body {
    background-color: lightblue;
}
*/

/*

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    white-space: normal !important;
}



.has-text-align-justify {
    text-align: justify;
}

h2 {
    background-color: blue;
    margin-bottom: 0;
}
*/
