/* ------------------------------------------- */

/*	Twenty Twenty Editor Styles — Block Editor
/* ------------------------------------------- */
/*
.editor-styles-wrapper {
    background: orange;
    //color: #000;
    //letter-spacing: -0.015em;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}
*/

.editor-styles-wrapper {
    //font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: palegreen;

    .has-text-align-justify {
        text-align: justify;
    }
}
