.editor-styles-wrapper {
    .wp-block-diym-offer {
        display: flex;
        > div {
            flex-grow: 1;
            border-style: dashed;
            position: relative;
            padding: 0.25rem;
            > i.fa-cut {
                position: absolute;
                top: 0;
                left: 10%;
                transform: translate(-50%, -50%);
            }
        }
        > i {
            margin: 0px 0.25rem;
            align-self: center;
        }

        .block-editor-block-list__block {
            margin: 1px 0;
            &:not(:nth-last-of-type(2)).is-selected {
                margin: 1px 0 28px;
            }
            > * {
                margin: 0;
            }
        }
        button.block-editor-button-block-appender {
            margin-left: 0;
        }
    }
    // xxx
    //.components-dropdown.block-editor-inserter {
    //margin: 4px 0;
    //}
}
