.wp-block-diym-test > div {
    //color: #fff;
    //background-color: #32373c;
    border: none;
    //border-radius: 1.55em;
    border-radius: 0.25rem;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125em;
    //padding: 0.667em 1.333em;
    padding: 0.375rem 0.75rem;
    text-align: center;
    text-decoration: none;
    //overflow-wrap: break-word;
    min-width: 1px;
}
